body,ul,li {
	padding:10px;
	margin:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
}

#scroll_wrapper {
	width:825px;
	height:580px;

	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	background:#e3e3e3;
}

#scroll_scroller {
	width:5775px;
	height:100%;
	float:left;
	padding:0;
}

#scroll_scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

#scroll_scroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	width:825px; height:580px;
	text-align:center;
	font-family:georgia;
	font-size:18px;
	line-height:140%;
}

#scroll_nav {
	width:825px;
}

#scroll_prev, #scroll_next {
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:80px;
	cursor: pointer;
	position: absolute;
	height:600px;
}
#scroll_prev:hover, #scroll_next:hover {
	background:#d1d1d1
}
#scroll_next {
	text-align:right;
	left: 744px;
}

#scroll_indicator, #scroll_indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#scroll_indicator {
	width:635px;
	padding:12px 0 0 30px;
}

#scroll_indicator > li {
	cursor: pointer;
	width:30px; height:30px;
	background:#ddd;
	overflow:hidden;
	margin-right:4px;
}

#scroll_indicator > li.active {
	background:#888;
}

#scroll_indicator > li:last-child {
	margin:0;
}